body {
  background-color: red;
}

/* .twiliowebchat-1a4ndlq {
  visibility: hidden;
} */

body {
  margin: 10px;
  padding: 10px;
}

#twilio-webchat-widget-root .twilio-webchat-entry-point {
    width: 200px !important;
    height: 200px !important;
}

#twilio-webchat-widget-root .twilio-webchat-entry-point svg {
    width: 100px !important;
    height: 100px !important;
}
